body{
    margin: 0px;
    font-family: cursive;
}

#header_box{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    z-index: 101;
}

#Title{
    font-size: 1.5rem;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #12c441, #c48c12 , #ff00c4, #ff0000);
    background-size: 400%;
    letter-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 36s linear infinite;
    margin-left: 300px;
    margin-top: 10px
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#header_nav{
    margin-left: 800px;
    margin-top: 20px;
}

#header_nav > a{
    z-index: -1;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 14px;
    transition: color 200ms ease-in-out;
}

#header_nav > a:hover{
    color: orange;
}

#main_content{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

#functions{
    padding-left: 210px;
}

#Getting_Started{
    display: flex;
    padding-left: 210px;
    font-size: 1.2rem;
    flex-direction: column;
    width: 1350px;
}

code{
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

.yellow{
    color: orange;
}

.darkblue{
    color: #286ebd;
}

.lightblue{
    color: #3f9dcf;
}

.lightlightblue{
    color: #90cae9;
}

.yellow{
    color: orange;
}

.redish{
    color: darkred;
}

.purple{
    color: purple;
}

.green{
    color: green;
}

.subtitle{
    font-size: 1.4rem;
    color: orange;
}

#start_instruction{
    background-color: #f5f2f0;
    padding: 10px 10px 10px 10px;
    font-size: 1.1rem;
    word-break: normal;
}

#complete_examples{
    padding-left: 210px;
    margin-top: 60px;
}

#footer{
    font-size: 14px;
    height: 100px;
    margin-top: 200px;
    margin-left: 210px;
    margin-bottom: 50px;
}

td{
    vertical-align: top;
}

tr{
    margin-top: 20px;
}

.generators{
    vertical-align: top;
    text-align: left;
}

.description{
    vertical-align: top;
    text-align: left;
    padding-left: 80px;
}

.functions{
    vertical-align: top;
    text-align: center;
}

.parameters{
    width: 40%;
}

ul{
    margin-top: 0px;
}